@import '../scss/variables';
@import '../scss/layout';
.card-details {
    @extend .flex_design;
    align-items : flex-start;
    flex-wrap: wrap;
    margin: 0 0 5px;
    border: 2px solid $border-color;
    width: 98%;
    span {
        font-weight: bold;
        margin: 0 10px;
    }
    div {
        margin: 10px 0;
        padding: 0 10px;
    }
}   